n8n_workflows/github_jules_monitor.json
{
    "name": "GitHub Jules Monitor (FOSS)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "github",
                "responseMode": "onReceived",
                "responseData": "allEntries"
            },
            "name": "GitHub Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json[\"commits\"][0][\"message\"]}}",
                            "operation": "contains",
                            "value2": "[Jules]"
                        }
                    ]
                }
            },
            "name": "Is Jules Commit?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Log Jules commit to console and prepare for Ark API\nconst commit = items[0].json.commits?.[0] || {};\nconst logEntry = {\n  event: 'jules_commit',\n  message: commit.message || 'Unknown commit',\n  branch: items[0].json.ref || 'unknown',\n  url: commit.url || '',\n  author: commit.author?.name || 'Jules',\n  timestamp: new Date().toISOString()\n};\nconsole.log('🤖 Jules Commit:', JSON.stringify(logEntry));\nreturn [{ json: logEntry }];"
            },
            "name": "Log Jules Commit",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "notes": "Pure JS logging - no external dependencies"
        },
        {
            "parameters": {
                "url": "={{$env.ARK_API_URL || 'http://localhost:3000'}}/api/mission/log",
                "method": "POST",
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "event",
                            "value": "={{$json.event}}"
                        },
                        {
                            "name": "message",
                            "value": "={{$json.message}}"
                        },
                        {
                            "name": "author",
                            "value": "={{$json.author}}"
                        },
                        {
                            "name": "timestamp",
                            "value": "={{$json.timestamp}}"
                        }
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "name": "Log to Ark",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                900,
                300
            ],
            "continueOnFail": true,
            "notes": "Logs to The Ark API. Set ARK_API_URL env var if not localhost."
        }
    ],
    "connections": {
        "GitHub Webhook": {
            "main": [
                [
                    {
                        "node": "Is Jules Commit?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Jules Commit?": {
            "main": [
                [
                    {
                        "node": "Log Jules Commit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Jules Commit": {
            "main": [
                [
                    {
                        "node": "Log to Ark",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "tags": [
        "automation",
        "github",
        "jules",
        "foss"
    ]
}