n8n_workflows/marketing_video_prompt.json
{
    "name": "Daily Marketing Prompt (FOSS)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            },
            "name": "Daily Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "notes": "Triggers once per day. Adjust time in n8n settings."
        },
        {
            "parameters": {
                "url": "={{$env.ARK_API_URL || 'http://localhost:3001'}}/api/marketing/prompts",
                "method": "GET",
                "options": {
                    "timeout": 5000
                }
            },
            "name": "Get Random Prompt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                460,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "functionCode": "// Format the prompt as a nice message\nconst prompt = items[0].json.data || items[0].json;\nconst message = `🎬 **Today's Veo3 Prompt**\\n\\n` +\n  `**Category:** ${prompt.category || 'general'}\\n` +\n  `**Use:** ${prompt.use || 'marketing'}\\n` +\n  `**Duration:** ${prompt.duration || '8-15s'}\\n\\n` +\n  `\\`\\`\\`\\n${prompt.prompt}\\n\\`\\`\\`\\n\\n` +\n  `*Generated by The Ark Marketing Automation*`;\n\nreturn [{ json: { message: message, prompt_id: prompt.id } }];"
            },
            "name": "Format Message",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{$env.DISCORD_WEBHOOK_URL}}",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "content",
                            "value": "={{$json.message}}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Post to Discord",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                900,
                300
            ],
            "continueOnFail": true,
            "notes": "Set DISCORD_WEBHOOK_URL env var. Or replace with email/Slack."
        }
    ],
    "connections": {
        "Daily Trigger": {
            "main": [
                [
                    {
                        "node": "Get Random Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Random Prompt": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "Post to Discord",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "tags": [
        "automation",
        "marketing",
        "veo3",
        "foss"
    ]
}